BASE_URL=https://dev-widget.ogon.ru
TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJHUEIgRWNvc3lzdGVtIiwidWlkIjoxLCJwYXJ0bmVyX2lkIjozLCJpc3MiOiJHUEIiLCJleHAiOjE2NDQ2MTMyMDAsImlhdCI6MTYxMjkwNDQwMCwidmVyc2lvbiI6MTYxMjQ1NjcxOSwic3RwIjoxLCJ1Z3AiOjF9.t1vSZ2YiydJPAX594KmYlldww-k58is9CcAVGVEegsjEPetQgJ_ly6CcAU8csXFLHxFuTHrTNi8v3TvoUIvw7CQRJckxw-C73l3YrCgLHGrPQZ-_5u_waATM5KZaGFQF6uvpukMiyCuYgmsF8c5PkX3Xiyy2OI9b9iG8VjXz8PwLhutMWK1gserl44YqDyWi8uAx-R62N46fjlCVP5n40rV7XVgB6twAlEIPjBtc7F9Yt6waNDMxi9OygWsc5K8117bsaEcxGk4PR_F4E_Mjgnni1sXoANyerph6tRB-R9PJSDyIIzVcpztL91fRq1itqr8KXwfYyNbE5DP0Y4Inwg
